html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
body, html {
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.main__container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.return_button {
    z-index: 10;
    width: 134px;
    height: 134px;
    opacity: 0.2;
    margin: 229px 0 -363px 16px;
    background: url("images/return_button.png");
    background-size: cover;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    transform: scale(0.99);
}
.return_button:hover {
    cursor: pointer;
    transform: scale(1.06);
    opacity: 0.7;
}
.shadow_body_none {
    display: none;
}
.shadow_body {
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity:0.5;
    z-index: 12;
}
.game_letters {
    margin: -120px auto 0 auto;
    width: 270px;
    height: 120px;
    background: url("images/game.png");
    background-size: cover;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.game_letters:hover {
    -webkit-transform: scale(1.13);
    -ms-transform: scale(1.13);
    transform: scale(1.13);
}
.game_letters_mobile {
    margin: 30px auto -16px auto;
    width: 270px;
    height: 120px;
    background: url("images/game.png");
    background-size: cover;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    transform: scale(0.8);
}
.game_letters_mobile:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.repeat_button {
    width: 105px;
    height: 105px;
    margin: 15px 0 0 16px;
    background: url("images/repeat_button.png");
    background-size: cover;
    opacity: 0.3;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.repeat_button:hover {
    transform: scale(1.06);
    opacity: 0.7;
    cursor:pointer;
}
.navigation__container {
    width: 120px;
    height: 120px;
    z-index: 11;
}
.navigation__main_item {
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 148px;
    -webkit-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.menu_item_hidden {
    display: none;
    width: 120px;
    height: 120px;
}
.menu_item {
    width: 120px;
    height: 120px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    -webkit-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.menu_item:nth-child(2) {
    margin: -315px 0 0 166px;
}
.menu_item:nth-child(3) {
    margin: -116px 0 0 155px;
}
.menu_item:nth-child(4) {
    margin: -132px 0 0 89px;
}
.menu_item:nth-child(5) {
    margin: -186px 0 0 -19px;
}
.menu_item:nth-child(6) {
    margin: -462px 0 0 288px;
}
.menu_item:nth-child(7) {
    margin: -100px 0 0 272px;
}
.menu_item:nth-child(8) {
    margin: -113px 0 0 209px;
}
.menu_item:nth-child(9) {
    margin: -135px 0 0 114px;
}
.menu_item:nth-child(10) {
    margin: -186px 0 0 -11px;
}
.item_name {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin: 0 0 0 -20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Garamond, serif;
    line-height: 1em;
    color: white;
    font-weight:bold;
    font-size: 33px;
    text-shadow:0 0 0 rgb(202,202,202),1px -1px 0 rgb(158,158,158), 2px -2px 0 rgb(115,115,115),3px -3px 2px rgba(0,0,0,0.6),3px -3px 1px rgba(0,0,0,0.5),0 0 2px rgba(0,0,0,.2);
}
.toggle:nth-child(3) .bubble .item_name {
    margin: 0 0 0 -30px;
}
.toggle:nth-child(4) .bubble .item_name {
    margin: 0 0 0 -40px;
}
.main_bubble_lines {
    background: url("images/menu_lines.png");
    background-size: cover;
    width: 46%;
    height: 69%;
    margin: 0 auto;
}
.menu_item .sphere_3d {
    width: 70%;
    height: 70%;
}
.sphere_3d {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: -o-radial-gradient(bottom, circle, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    color: rgba(0, 148, 255, 0.23);
    font-size: 640%;
    font-weight: bold;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.toggle:nth-child(2) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #f6c393, #efaa58 10%, #94450b 80%, #45280c 100%);
    background: radial-gradient(circle at bottom, #f6c393, #efaa58 10%, #94450b 80%, #45280c 100%);
}
.toggle:nth-child(3) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #a8f69f, #7aef63 10%, #0c9415 80%, #0b4512 100%);
    background: radial-gradient(circle at bottom, #a8f69f, #7aef63 10%, #0c9415 80%, #0b4512 100%);
}
.toggle:nth-child(4) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #f6adad, #ef6654 10%, #940f0f 80%, #450a09 100%);
    background: radial-gradient(circle at bottom, #f6adad, #ef6654 10%, #940f0f 80%, #450a09 100%);
}
.toggle:nth-child(5) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #f6f5b5, #efed67 10%, #948f0c 80%, #454409 100%);
    background: radial-gradient(circle at bottom, #f6f5b5, #efed67 10%, #948f0c 80%, #454409 100%);
}
.toggle:nth-child(6) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #bb93f6, #9b4fef 10%, #591294 80%, #220845 100%);
    background: radial-gradient(circle at bottom, #bb93f6, #9b4fef 10%, #591294 80%, #220845 100%);
}
.toggle:nth-child(7) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #c3f6f6, #82eaef 10%, #129194 80%, #0a4545 100%);
    background: radial-gradient(circle at bottom, #c3f6f6, #82eaef 10%, #129194 80%, #0a4545 100%);
}
.toggle:nth-child(8) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #b8c3f6, #7b63ef 10%, #240e94 80%, #0f0645 100%);
    background: radial-gradient(circle at bottom, #b8c3f6, #7b63ef 10%, #240e94 80%, #0f0645 100%);
}
.toggle:nth-child(9) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #f6c591, #ef6618 10%, #94450b 80%, #451e0b 100%);
    background: radial-gradient(circle at bottom, #f6c591, #ef6618 10%, #94450b 80%, #451e0b 100%);
}
.toggle:nth-child(10) .sphere_3d {
    background: -o-radial-gradient(bottom, circle, #f6b8d6, #ef95d4 10%, #940d7a 80%, #450735 100%);
    background: radial-gradient(circle at bottom, #f6b8d6, #ef95d4 10%, #940d7a 80%, #450735 100%);
}
.navigation__main_item .sphere_3d {
    margin: 32% 0 0 20px;
}

.menu_item .sphere_3d:hover {
    margin: 98px 0 0 22%;
    width: 90%;
    height: 90%;
    cursor: pointer;
    font-size: 850%;
}

.navigation__main_item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sphere_3d:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: -o-radial-gradient(top, circle, white, rgba(255, 255, 255, 0) 58%);
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}
.sphere_3d:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotateZ(-30deg);
}
.sphere_3d.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
}
.sphere_3d.plain {
    background: black; }
.sphere_3d.plain:before, .sphere_3d.plain:after {
    display: none; }
.sphere_3d.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    opacity: 0.8;
    background-size: cover;
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;
}
.sphere_3d.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: -o-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.sphere_3d.bubble:after {
    display: block;
    background: -o-radial-gradient(50% 80%, circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}

@-webkit-keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

.letters_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.cards__container {
    margin: 25px auto;
    top: 0; left: 0; bottom: 0; right: 0;
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.card-wrapper {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card {
    background: -o-linear-gradient(45deg, #1e5799 0%, #bab523 19%, #210611 37%, #e23424 66%, #28fcdc 84%, #764682 100%);
    background: linear-gradient(45deg, #1e5799 0%, #bab523 19%, #210611 37%, #e23424 66%, #28fcdc 84%, #764682 100%);
    position: relative;
    width: 256px;
    height: 256px;
    margin: 20px;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
    -o-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
    transition: transform .4s cubic-bezier(.4, 0, .2, 1);
    transition: transform .4s cubic-bezier(.4, 0, .2, 1), -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
    border-radius: 20px;
    -webkit-box-shadow: 0 20px 25px #000000c9, 0 -50px 35px rgba(0, 0, 0, .7) inset;
    box-shadow: 0 20px 25px #000000c9, 0 -50px 35px rgba(0, 0, 0, .7) inset;
    z-index: 1;
}
.card:hover {
    cursor: pointer;
}
.back {
    background: -o-linear-gradient(45deg, #1e5799 0%, #bab523 19%, #210611 37%, #e23424 66%, #28fcdc 84%, #764682 100%);
    background: linear-gradient(45deg, #1e5799 0%, #bab523 19%, #210611 37%, #e23424 66%, #28fcdc 84%, #764682 100%);
    -webkit-box-shadow: 0 -50px 35px rgba(0, 0, 0, .7) inset;
    box-shadow: 0 -50px 35px rgba(0, 0, 0, .7) inset;

}
.card-wrapper:nth-child(1) .card, .card-wrapper:nth-child(1) .card .back {
    background-image: url(images/cards/categories/family.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(2) .card, .card-wrapper:nth-child(2) .card .back {
    background-image: url(images/cards/categories/emotions.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(3) .card, .card-wrapper:nth-child(3) .card .back {
    background-image: url(images/cards/categories/movements.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(4) .card, .card-wrapper:nth-child(4) .card .back {
    background-image: url(images/cards/categories/nature.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(5) .card, .card-wrapper:nth-child(5) .card .back {
    background-image: url(images/cards/categories/transport.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(6) .card, .card-wrapper:nth-child(6) .card .back {
    background-image: url(images/cards/categories/pets.jpg);
    background-size: cover;
}
.card-wrapper:nth-child(7) .card, .card-wrapper:nth-child(7) .card .back {
    background-image: url(images/cards/categories/weather.png);
    background-size: cover;
}
.card-wrapper:nth-child(8) .card, .card-wrapper:nth-child(8) .card .back {
    background-image: url(images/cards/categories/animals.png);
    background-size: cover;
}

.card_name {
    margin: 0;
    font-size: 210%;
    color: #dfdfdf;
    text-align: center;
    width: 100%;
    height: 272px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1em;
}
.card-active {
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.turn_around_button {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 16;
    margin: -6px 0 0 205px;
    background: url(images/turn_around_icon.png);
    background-size: cover;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.turn_around_button:hover {
    margin: -9px 0 0 202px;
    width: 66px;
    height: 66px;
    cursor: pointer;
}
.mistakes_scoreboard {
    width: 256px;
    height: 31px;
    margin: 15px auto 0 -117px ;
    background: rgba(64, 175, 225, 0.25);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
    -o-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
    border-radius: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6), 0 -15px 9px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6), 0 -15px 9px rgba(0, 0, 0, 0.23) inset;
}
.mistakes_scoreboard_name {
    display: inline;
    width: 140px;
    height: 12px;
    font-size: 30px;
    text-align: center;
    margin-left: 12px;
    font-family: Garamond, serif;
    color: #fcfcff;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow:0 0 0 rgb(202,202,202),1px -1px 0 rgb(158,158,158), 2px -2px 0 rgb(115,115,115),3px -3px 2px rgba(0,0,0,0.6),3px -3px 1px rgba(0,0,0,0.5),0 0 2px rgba(0,0,0,.2);
}
.count {
    margin-top: 23px;
    width: 140px;
    height: 40px;
    text-align: center;
}
.card_box {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
.container {
    /*width: 256px;*/
    /*height: 256px;*/
    /*border-radius: 20px;*/
    /*-webkit-transition: 0.5s ease-in-out;*/
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    text-align: center;
    width: 256px;
    height: 256px;
    color: #dfdfdf;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}
.content {
    -webkit-transform: translatez(70px) scale(0.8);
    -ms-transform: translatez(70px) scale(0.8);
    transform: translatez(70px) scale(0.8);
    width: 276px;
    height: 276px;
    margin: -10px 0 0 -10px;
    border-radius: 20px;
}
.correct_answer {
    background: #000000;
    opacity:0.7;
    border: 5px solid #0c9415;
    width: 266px;
    height: 266px;
}
.incorrect_answer {
    background: #000000;
    opacity:0.7;
    border: 5px solid #941a0b;
    width: 266px;
    height: 266px;
}
.green_mark {
    position: absolute;
    width: 130px;
    height: 130px;
    background: url(images/correct_icon.png);
    background-size: cover;
    margin: 65px 0 0 68px;
}
.red_cross {
    position: absolute;
    width: 276px;
    height: 276px;
    background: url(images/wrong_icon.png);
    background-size: cover;
    margin: -5px 0 0 -5px;
}
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.switch__container {
    width: 140px;
    height: 130px;
    margin: 25px 21px 0 0;
    z-index: 10;
}
.switch, .switch__container, .checkbox, .switch_div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: helvetica,arial,sans-serif;
}
.checkbox {
    opacity: 0;
}
.switch_div {
    display: block;
}
.switch > .switch_div {
    width: 140px;
    height: 60px;
    background: #e9e9e9;
    z-index: 0;
    cursor: pointer;
    position: relative;
    border-radius: 80px;
    line-height: 60px;
    text-align: right;
    padding: 0 10px;
    color: rgba(0,0,0,.5);
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    -webkit-box-shadow: inset 0 3px 15px -3px;
    box-shadow: inset 0 3px 15px -3px
}
.switch > input:checked + .switch_div {
    background: skyblue;
    text-align: left;
    color: rgba(58, 58, 58, 0.75);
}
.switch > .switch_div:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: -2px;
    height: 64px;
    width: 64px;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(30%, #f9f9f9),to(#CDCDCD));
    background: -o-linear-gradient(#f9f9f9 30%,#CDCDCD);
    background: linear-gradient(#f9f9f9 30%,#CDCDCD);
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    -webkit-box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
    box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
}
.switch > .switch_div:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 21px;
    top: 21px;
    height: 22px;
    width: 22px;
    background: -webkit-gradient(linear,left top, left bottom,from(#DCDCDC),to(#E3E3E3));
    background: -o-linear-gradient(#DCDCDC,#E3E3E3);
    background: linear-gradient(#DCDCDC,#E3E3E3);
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.switch > input:checked + .switch_div:after {
    left: 98px;
}
.switch > input:checked + .switch_div:before {
    content: '';
    position: absolute;
    left: 77px;
    border-radius: 50%;
}
.switch_name {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 16px 0 0 34px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1em;
    font-family: Garamond, serif;
    color: #fefbff;
    font-weight:bold;
    font-size: 27px;
    cursor: pointer;
    text-shadow:0 0 0 rgb(202,202,202),1px -1px 0 rgb(158,158,158), 2px -2px 0 rgb(115,115,115),3px -3px 2px rgba(0,0,0,0.6),3px -3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
.switch_name_game {
    margin-left: -65px;
}
.switch_name_train {
    margin-left: -8px;
}
.switch_off {
    display: none !important;
}
.switch_on {
    display: block !important;
}

.select_voice {
     width: 128px;
     height: 30px;
     margin: 15px 0 0 1px;
     padding: 3px 0px 0 11px;
     z-index: 10;
     border-radius: 25px;
     font-weight:bold;
     font-size: 24px;
     font-family: Garamond, serif;
     color: #fefeff;
     cursor: pointer;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
     text-shadow:0 0 0 rgb(202,202,202),1px -1px 0 rgb(158,158,158), 2px -2px 0 rgb(115,115,115),3px -3px 2px rgba(0,0,0,0.6),3px -3px 1px rgba(0,0,0,0.5),0 0 2px rgba(0,0,0,.2);
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    background: rgba(0, 147, 255, 0);
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6), 0 -15px 9px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6), 0 -15px 9px rgba(0, 0, 0, 0.23) inset;
 }
.select_voice:hover {
    transform: scale(1.07);
}

.win {
    width: 450px;
    height: 450px;
    margin: 100px auto 0 auto;
    background-image: url("images/win_smile.png");
    background-size: cover;
}
.lose {
    width: 450px;
    height: 450px;
    margin: 100px auto 0 auto;
    background-image: url("images/lose_smile.png");
    background-size: cover;
}

@media (min-width: 1505px) {
    .main__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 1195px;
    }
    .switch__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 10;
        position: absolute;
        margin: 33px 15px 0 0;
        right: 0;
    }
    .navigation__container {
        position: absolute;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 15;
        margin: 21px auto -25px -7px;
        width: 0;
        height: 0;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .letters_card_container {
        margin: 27px auto 0 auto;
        position: relative;
    }
    .game_letters_mobile {
        display: none;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    .game_letters_mobile:hover {
        display: none;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .game_letters {
        display: none !important;
    }
    .switch_name_game {
        margin-left: -65px;
    }
    .mistakes_scoreboard {
        width: 140px;
        height: 75px;
        margin: 26px auto 0 0;
        background: rgba(64, 175, 225, 0.25);
        -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
        transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
        -o-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
        border-radius: 20px;
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
    .mistakes_scoreboard_name {
        padding-top: 3px;
        display: block;
        text-align: center;
        width: 130px;
        height: 30px;
        margin: 0 auto;
    }
    .return_button {
        position: fixed;
    }
}

@media (min-width: 1182px) and (max-width: 1504px) {
    .main__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 1194px;
    }
    .switch__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 10;
        position: relative;
        margin: 18px 0 0 1031px;
    }
    .navigation__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 15;
        position: relative;
        margin: 22px auto 0 -2px;
        width: 0;
        height: 0;
        -webkit-transform: scale(1.13);
        -ms-transform: scale(1.13);
        transform: scale(1.13);
    }
    .letters_card_container {
        margin: 30px auto 0 auto;
        position: relative;
    }
    .game_letters {
        width: 240px;
        height: 106px;
        z-index: 11;
        margin: -101px auto -5px auto;
    }
    .game_letters_mobile {
        display: none;
    }
    .switch_name_game {
        margin-left: -65px;
    }
    .return_button {
        margin: -103px 0 -31px 175px;
    }
    .repeat_button {
        margin: -150px 0 0 -117px;
    }
    .mistakes_scoreboard {
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
}

@media (min-width: 888px) and (max-width: 1183px) {
    .main__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 888px;
    }
    .switch__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 10;
        position: relative;
        margin: 24px 0 0 730px;
    }
    .navigation__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 15;
        position: relative;
        margin: 22px auto 0 -2px;
        width: 0;
        height: 0;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .letters_card_container {
        margin: 30px auto 0 auto;
        position: relative;
    }
    .game_letters {
        width: 240px;
        height: 106px;
        z-index: 11;
        margin: -101px auto -5px 331px;
    }
    .game_letters_mobile {
        display: none;
    }
    .switch_name_game {
        margin-left: -65px;
    }
    .return_button {
        margin: -111px 0 -23px 175px;
    }
    .repeat_button {
        margin: -151px 0 0 -117px;
    }
    .mistakes_scoreboard {
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
}

@media (min-width: 592px) and (max-width: 887px) {
    .main__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 600px;
        margin-top: -25px;
    }
    .switch__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 10;
        position: relative;
        margin: 17px 0 0 438px;
    }
    .navigation__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 15;
        position: relative;
        margin: 45px auto 0 -3px;
        width: 0;
        height: 0;
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }
    .letters_card_container {
        margin: 12px auto 0 auto;
    }
    .letters_card_container_2 {
        margin: 95px auto 0 auto;
    }
    .game_letters {
        width: 240px;
        height: 106px;
        z-index: 11;
        margin: -106px auto 0 170px;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    .game_letters:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    .game_letters_mobile {
        display: none;
    }
    .switch_name_game {
        margin-left: -65px;
    }
    .return_button {
        margin: 13px 0 -147px 11px;
        transform: scale(0.7);
    }
    .return_button:hover {
        transform: scale(0.77);
    }
    .mistakes_scoreboard {
        width: 140px;
        height: 75px;
        margin: 26px auto 0 0;
        background: rgba(64, 175, 225, 0.25);
        -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
        transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
        -o-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
        border-radius: 20px;
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
    .mistakes_scoreboard_name {
        padding-top: 3px;
        display: block;
        text-align: center;
        width: 130px;
        height: 30px;
        margin: 0 auto;
    }
    .repeat_button {
        width: 92px;
        height: 92px;
        margin: -75px 0 0 -182px;
    }
    .mistakes_scoreboard {
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
}

@media (max-width: 591px) {
    .main__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 300px;
        margin-top: 3px;
    }
    .switch__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 10;
        position: relative;
        margin: -8px 0 0 152px;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .navigation__container {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        z-index: 15;
        position: relative;
        margin: 12px auto 0 1px;
        width: 0;
        height: 0;
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
    }
    .letters_card_container {
        margin: -13px auto 0 auto;
    }
    .letters_card_container_3 {
        margin: 102px auto 0 auto;
    }
    .game_letters_mobile {
        margin: 30px auto -37px auto;
        display: none;
    }
    .game_letters {
        display: none !important;
    }
    .switch_name_game {
        margin-left: -65px;
    }
    .mistakes_scoreboard {
        width: 315px;
        height: 31px;
        margin: 17px auto 0 -174px;
    }
    .repeat_button {
        margin: 20px 0 0 41px;
    }
    .return_button {
        width: 90px;
        height: 90px;
        margin: 49px 0 -139px 16px;
    }
    .return_button_2 {
        margin: 7px 0 -129px 16px;
    }
    .mistakes_scoreboard {
        -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6), 0px 26px 40px rgba(0, 0, 0, 0.23) inset;
    }
    .win {
        width: 370px;
        height: 370px;
        margin: 60px auto 0 auto;
        background-image: url("images/win_smile.png");
        background-size: cover;
    }
    .lose {
        width: 370px;
        height: 370px;
        margin: 60px auto 0 auto;
        background-image: url("images/lose_smile.png");
        background-size: cover;
    }
}

@media (max-width: 381px) {
    .navigation__container {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    .win {
        width: 256px;
        height: 256px;
        margin: 25px auto 0 auto;
        background-image: url("images/win_smile.png");
        background-size: cover;
    }
    .lose {
        width: 256px;
        height: 256px;
        margin: 25px auto 0 auto;
        background-image: url("images/lose_smile.png");
        background-size: cover;
    }
}

@media (max-width: 332px) {
    .navigation__container {
        -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
        transform: scale(0.65);
    }
    .win {
        width: 240px;
        height: 240px;
        margin: 30px auto 0 auto;
        background-image: url("images/win_smile.png");
        background-size: cover;
    }
    .lose {
        width: 240px;
        height: 240px;
        margin: 30px auto 0 auto;
        background-image: url("images/lose_smile.png");
        background-size: cover;
    }
}